[Bb]in/
[Oo]bj/
dist/

*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.VisualState.xml
TestResult.xml
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

.idea/
*.sln.iml

*.ps1
*.sh

.ideas/

.DS_Store
Thumbs.db
desktop.ini

*.nupkg
packages/
!**/packages/build/
*.nuget.props
*.nuget.targets

*.log
*.tmp
